<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/estilos-header-footer-paginas.css">
    <link rel="stylesheet" href="../css/estilos-catalogo.css">
</head>
<body>
    <header>
        <div class="topheader">
            <div class="contenedor-topheader">
                <a href="../index.html">
                    <img src="../assets/logo.png" alt="">
                </a>    
                  <div class="horarios">
                  
                  </div>  
            </div>
        </div>
        <nav>
            <div class="hamburguesa">
                <img src="../assets/menu.svg" alt="Menú" height="38px" id="menu-icon">
            </div>
            <ul class="menu-horizontal" id="menu">
                <li><a href="../index.html">HOME</a></li>
                <li>
                    <a href="#">VEHICULOS</a>
                    <ul class="menu-vertical">
                        <li class="prueba"><a href="../templates/catalogo-autos.html">VER AUTOS</a></li>
                        <li><a href="../templates/catalogo-motos.html">VER MOTOS</a></li>
                        <li><a href="../templates/catalogo-camionetas.html">VER CAMIONETAS</a></li>
                    </ul>
                </li>
                <li><a href="../templates/formulario-de-venta.html">VENDE TU AUTO</a></li>
                <li><a href="../templates/nosotros.html">NOSOTROS</a></li>
                <li><a href="../templates/formulario-de-contacto.html">CONTACTO</a></li>
                <li><a href="../templates/beneficios.html">BENEFICIOS</a></li>
            </ul>
        </nav>
    </header> 
    <main>
        <div class="container-wrap">
          <input type="text" id="searchInput" placeholder="Buscar producto por nombre o marca">
            <div class="container">
                <div id="listado">
                  <ul id="results">
                    </ul>
                </div>
                <div class="filtro-por-precios">
                    <label for="minPrice">Precio mínimo:</label>
                    <input type="number" id="minPrice" placeholder="Ingresa el precio mínimo">
                  
                    <label for="maxPrice">Precio máximo:</label>
                    <input type="number" id="maxPrice" placeholder="Ingresa el precio máximo">
                  </div>
                <script src="../js/catalogo_motos_con_json.js"></script>
                <script src="../js/filtro_precios_motos.js"></script>
            </div>
        </div>
   </main> 
   <footer>
    <div class="contenedor-footer">
        <div class="footer-general">
            <div class="direccion-footer">
                <p>
                    <img src="../assets/location-dot-solid.svg">
                </p>
                <p>
                    Av. San Martin 1408 (CP5500)
                    <br>
                    Godoy Cruz, Mendoza
                </p>
            </div>
            <div class="telefono-footer">
                <p>
                    <img src="../assets/phone-solid.svg">
                </p>
                <p>
                    +54 261 5896753
                    <br>
                    +54 261 4582997
                </p>
            </div>
            <div class="horario-footer">
                <p>
                    <img src="../assets/time.svg" alt="">
                </p>
                <p>
                    Horario de Atención
                    <br>
                    Lun a Vie de 9 a 18hs.
                    <br>
                    Sabados 9 a 13hs.
                </p>
               
            </div>
        </div>
        <div class="footer-general-cen">
            <div class="texto-mapa">
                <p>
                    <img src="../assets/location-dot-solid.svg"> UBICACION
                    
                </p> 
            </div>
            <div class="mapa-grande">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3349.548694001666!2d-68.84952234962586!3d-32.910098602187986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e096e69495089%3A0xf1f6aae58757bf8!2sAv.%20San%20Mart%C3%ADn%201408%2C%20M5501%20Godoy%20Cruz%2C%20Mendoza!5e0!3m2!1ses-419!2sar!4v1716237445947!5m2!1ses-419!2sar" width="500" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="mapa-chico">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4187.0895634462395!2d-68.84473020474353!3d-32.90940116998891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e096e69495089%3A0xf1f6aae58757bf8!2sAv.%20San%20Mart%C3%ADn%201408%2C%20M5501%20Godoy%20Cruz%2C%20Mendoza!5e0!3m2!1ses!2sar!4v1718666841413!5m2!1ses!2sar" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="footer-general-der">
            <div class="footer-general-der-text">
                <p>
                    NUESTRAS REDES
                </p>
            </div>
            <div class="footer-general-der-icons">
                <a href="https://www.instagram.com/zulmalobato/">
                    <img src="../assets/instagram.svg" alt="">
                </a>
                <a href="../templates/facebook-footer.html">
                    <img src="../assets/square-facebook.svg" alt="">
                </a> 
            </div>
        </div>
    </div>
</footer>
<script src="../js/script.js"></script>  
</body>
</html>
