<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/estilos-catalogo.css">
</head>
<body>
   <main>
        
            <div class="container-wrap">
                <div class="container">
                    <div 
                        class="caja"> <img src="../assets/tarjeta-moto-18.jpg" alt="">
                        <p class="titulo-tarjeta">Yamaha YZF R1 M</p>
                        <p>Marca: Yamaha</p>
                        <p>Modelo: R1</p>
                        <p>Kilometraje: 0km</p>
                        <p>Motor: 998cc</p>
                        <p>Año: 2024</p>
                        <p class="precio-auto">U$D 35000</p>
                    </div>
                    <div 
                        class="caja"> <img src="../assets/tarjeta-moto-19.jpg" alt="">
                        <p class="titulo-tarjeta">Honda CRF450R</p>
                        <p>Marca: Honda</p>
                        <p>Modelo: CRF</p>
                        <p>Kilometraje: 0km</p>
                        <p>Motor: 450cc</p>
                        <p>Año: 2023</p>
                        <p class="precio-auto">U$D 13000</p>
                    </div>
                    <div 
                        class="caja"> <img src="../assets/tarjeta-moto-20.jpg" alt="">
                        <p class="titulo-tarjeta">Kawasaki Z900RS Cafe</p>
                        <p>Marca: Kawasaki</p>
                        <p>Modelo: Z900RS</p>
                        <p>Kilometraje: 4000km</p>
                        <p>Motor: 900cc</p>
                        <p>Año: 2021</p>
                        <p class="precio-auto">U$D 10000</p>
                    </div>
                    <div 
                        class="caja"> <img src="../assets/tarjeta-moto-21.webp" alt="">
                        <p class="titulo-tarjeta">Yamaha RD</p>
                        <p>Marca: Yamaha</p>
                        <p>Modelo: RD</p>
                        <p>Kilometraje: 15000km</p>
                        <p>Motor: 350cc</p>
                        <p>Año: 1975</p>
                        <p class="precio-auto">U$D 10000</p>
                    </div>
                </div>
            </div>
        
   </main>
</body>
</html>

        